@import "./font-face.scss";

// -------------------------
.ff-tw-800 {
  font-family: "Titillium Web";
  font-weight: 800;
}

.ff-tw-700 {
  font-family: "Titillium Web";
  font-weight: 700;
}

.ff-tw-600 {
  font-family: "Titillium Web";
  font-weight: 600;
}

.ff-tw-500 {
  font-family: "Titillium Web";
  font-weight: 500;
}

.ff-tw-400 {
  font-family: "Titillium Web";
  font-weight: 400;
}

.ff-tw-300 {
  font-family: "Titillium Web";
  font-weight: 300;
}
