

.gap-p-1 { gap: 1%; }
.gap-p-2 { gap: 2%; }
.grid-col-1 { display: grid; grid-template-columns: auto; }
.grid-col-2 { display: grid; grid-template-columns: auto auto; }
.grid-col-3 { display: grid; grid-template-columns: auto auto auto; }
.grid-col-p-3 { display: grid; grid-template-columns: 32% 32% 32%; }
.grid-col-p-4 { display: grid; grid-template-columns: 23% 23% 23% 23%; }
.grid-col-4 { display: grid; grid-template-columns: auto auto auto auto; }
.grid-col-5 { display: grid; grid-template-columns: auto auto auto auto auto; }

@for $i from 0 through 80 {
  @if $i % 5==0 {
    .grid-gap-#{$i} {
      grid-gap: $i + px;
    }
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-1 { flex: 1; }
.flex-none { flex: none; }

.flex-row { flex-direction: row; }

.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-shrink-0 { flex-shrink: 0; }

.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-around { justify-content: space-around; }
.justify-content-between { justify-content: space-between; }
.justify-content-evenly { justify-content: space-evenly; }
.justify-content-center { justify-content: center; }

.justify-items-center { justify-items: center; }
.justify-self-center { justify-self: center; }

.align-items-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-self-center { align-self: center; }
.align-items-end { align-items: flex-end; }

// xl
@media (max-width: $screen-xl-max) {

  @for $i from 0 through 80 {
    @if $i % 5==0 {
      .grid-gap-xl-#{$i} {
        grid-gap: $i + px;
      }
    }
  }

  .flex-row-xl-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-xl-1 { flex: 1; }
  .flex-xl-none { flex: none; }
  
  .flex-xl-row { flex-direction: row; }
  
  .flex-xl-column { flex-direction: column; }
  .flex-xl-column-reverse { flex-direction: column-reverse; }
  
  .flex-xl-wrap { flex-wrap: wrap; }
  .flex-xl-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-xl-nowrap { flex-wrap: nowrap; }
  
  .justify-content-xl-start { justify-content: flex-start; }
  .justify-content-xl-end { justify-content: flex-end; }
  .justify-content-xl-around { justify-content: space-around; }
  .justify-content-xl-between { justify-content: space-between; }
  .justify-content-xl-evenly { justify-content: space-evenly; }
  .justify-content-xl-center { justify-content: center; }
  
  .align-items-xl-start { align-items: flex-start; }
  .align-items-xl-center { align-items: center; }
  .align-items-xl-end { align-items: flex-end; }
}

// lg
@media (max-width: $screen-lg-max) {

  @for $i from 0 through 80 {
    @if $i % 5==0 {
      .grid-gap-lg-#{$i} {
        grid-gap: $i + px;
      }
    }
  }

  .grid-col-lg-1 {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-col-lg-2 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-col-lg-3 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .grid-col-lg-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .flex-row-lg-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-lg-1 { flex: 1; }
  .flex-lg-none { flex: none; }
  
  .flex-lg-row { flex-direction: row; }
  
  .flex-lg-column { flex-direction: column; }
  .flex-lg-column-reverse { flex-direction: column-reverse; }
  
  .flex-lg-wrap { flex-wrap: wrap; }
  .flex-lg-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-lg-nowrap { flex-wrap: nowrap; }
  
  .justify-content-lg-start { justify-content: flex-start; }
  .justify-content-lg-end { justify-content: flex-end; }
  .justify-content-lg-around { justify-content: space-around; }
  .justify-content-lg-between { justify-content: space-between; }
  .justify-content-lg-evenly { justify-content: space-evenly; }
  .justify-content-lg-center { justify-content: center; }
  
  .align-items-lg-start { align-items: flex-start; }
  .align-items-lg-center { align-items: center; }
  .align-items-lg-end { align-items: flex-end; }
}

// sm
@media (max-width: $screen-sm-max) {
  
  @for $i from 0 through 80 {
    @if $i % 5==0 {
      .grid-gap-sm-#{$i} {
        grid-gap: $i + px;
      }
    }
  }

  .grid-col-sm-1 {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-col-sm-p-2 {
    display: grid;
    grid-template-columns: 48% 48%;
  }

  .grid-col-sm-2 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-col-sm-p-2 {
    display: grid;
    grid-template-columns: 48% 48%;
  }

  .grid-col-sm-3 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .grid-col-sm-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .gap-p-sm-1 {
    gap: 1%;
  }
  
  .flex-row-sm-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-row-sm-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-row-sm-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .flex-col-sm-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-sm-1 { flex: 1; }
  .flex-sm-none { flex: none; }
  
  .flex-sm-row { flex-direction: row; }
  
  .flex-sm-col { flex-direction: column; }
  .flex-sm-col-reverse { flex-direction: column-reverse; }
  
  .flex-sm-wrap { flex-wrap: wrap; }
  .flex-sm-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-sm-nowrap { flex-wrap: nowrap; }
  
  .justify-content-sm-start { justify-content: flex-start; }
  .justify-content-sm-end { justify-content: flex-end; }
  .justify-content-sm-around { justify-content: space-around; }
  .justify-content-sm-between { justify-content: space-between; }
  .justify-content-sm-evenly { justify-content: space-evenly; }
  .justify-content-sm-center { justify-content: center; }
  
  .align-items-sm-start { align-items: flex-start; }
  .align-items-sm-center { align-items: center; }
  .align-items-sm-end { align-items: flex-end; }
}

// xs
@media (max-width: $screen-xs-max) {
  
  @for $i from 0 through 80 {
    @if $i % 5==0 {
      .grid-gap-xs-#{$i} {
        grid-gap: $i + px;
      }
    }
  }

  .flex-row-xs-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}