//color 
$main: #080808;
$dark-blue: #111827;
$light-dark-blue: #1F2937;
$light-white: #FFFBDD;

$white: #fff;
$black: #000;
$card-dark: #0C0C0C;

$header-dark: #0e1117;
$footer-dark: #0a0a0a;

$main-dark: #070A0F;
$max-dark: #172030;
$light-dark: #101306;
$medium-dark: #1C202A;
$min-dark: #1B1E24;
$heavey-dark: #20242E;
$bold-dark: #1E2026;
$regular-dark: #2E2E2E;
$middle-dark: #161B21;
$slight-dark: #393c45;
$tiny-dark: #292D33;
$grey-dark: #2B3139;

$disable-grey: #646464;
$bold-grey: #485173;
$default-grey: #656565;
$heavy-grey: #6D6D6D;
$grey: #848895;
$max-grey: #8B949E;
$medium-grey: #A9B3C4;
$dark-grey: #A0A4A7;
$light-grey: #C5C5C5;
$min-grey: #D9D9D9;
$white-grey: #E3E3E3;

$light-yellow: #F9D023;
$purple: #8200ff;
$dark-purple: #CC3D00;

$light-green: #2BFF28;
$green: #00ffda;
$red: rgb(246, 70, 93);

// @media
$screen-xs-max: 350px; //xs

$screen-xm-max: 450px; //xm

$screen-sm-max: 750px; //sm

$screen-md-max: 992px; //md

$screen-lg-max: 1200px; //lg

$screen-xl-max: 1440px; //xl

$screen-gl-max: 1660px; //gl